<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <title>임시 비밀번호 발급 안내</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div style="font-family: 'Apple SD Gothic Neo', 'sans-serif' !important; width: 540px; height: 600px; border-top: 4px solid #02b875; margin: 100px auto; padding: 30px 0; box-sizing: border-box;">
            <h1 style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
                <span style="color: #02b875;">임시 비밀번호 발급 안내</span>
            </h1>
            <p style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">
                안녕하세요. 고객님<br />
                요청하신 임시 비밀번호가 발급되었습니다.<br />
                아래 임시 비밀번호를 사용하여 로그인하시고, 로그인 후 반드시 비밀번호를 변경해 주세요.<br />
            </p>

            <p style="text-align: center; height: 50px; background: #f6f6f6; line-height: 55px; font-size: 24px; letter-spacing: 5px"><strong>[[${temporaryPassword}]]</strong></p>
        </div>
    </body>
</html>